<div class="swiper">
    <swiper-container loop="false" navigation="true" slides-per-view="4" slides-per-group="4">

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <img src="../../assets/images/specialities/skin.jpeg">
                <h2 class="speciality-name">Skin</h2>
            </div>
        </swiper-slide>


        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <img src="../../assets/images/specialities/teeth.jpeg">
                <h2 class="speciality-name">Teeth</h2>
            </div>
        </swiper-slide>


        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <img src="../../assets/images/specialities/MentalEmotionalBehavioural.jpeg">
                <h2 class="speciality-name">Mental, Emotional or Behavioral Disorders</h2>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <img src="../../assets/images/specialities/child.jpeg">
                <h2 class="speciality-name">Child</h2>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <img src="../../assets/images/specialities/brainNerves.jpeg">
                <h2 class="speciality-name">Brain & Nerves</h2>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <img src="../../assets/images/specialities/bones.jpeg">
                <h2 class="speciality-name">Bones</h2>
            </div>
        </swiper-slide>


        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <img src="../../assets/images/specialities/gynaecologyInfertility.jpeg">
                <h2 class="speciality-name">Gynaecology and Infertility</h2>
            </div>
        </swiper-slide>


        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <img src="../../assets/images/specialities/earNoseThroat.jpeg">
                <h2 class="speciality-name">Ear, Nose and Throat</h2>
            </div>
        </swiper-slide>



    </swiper-container>
</div>