<div class="swiper">

    <swiper-container loop="false" navigation="true" slides-per-group="4" slides-per-view="4">

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <span class="percent">40% OFF</span>
                <img src="../../assets/images/offers/teethCleaning.jpeg">
                <div class="offer-info">
                    <h2 class="offer-name">Teeth Cleaning</h2>
                    <span class="original-price">1200 EGP</span>
                    <span class="offer-price">700 EGP</span>
                    <p class="no-offers">78 Offers</p>
                </div>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <span class="percent">70% OFF</span>
                <img src="../../assets/images/offers/facialCleansing.jpeg">
                <div class="offer-info">
                    <h2 class="offer-name">Facial Cleansing</h2>
                    <span class="original-price"> 500 EGP</span>
                    <span class="offer-price"> 150 EGP</span>
                    <p class="no-offers"> 236 offers</p>
                </div>
            </div>
        </swiper-slide>


        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <span class="percent">25% OFF</span>
                <img src="../../assets/images/offers/metalBraces.jpeg">
                <div class="offer-info">
                    <h2 class="offer-name">Metal Braces</h2>
                    <span class="original-price">10000 EGP</span>
                    <span class="offer-price">7500 EGP</span>
                    <p class="no-offers">42 Offers</p>
                </div>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="card-style">
                <span class="percent">50% OFF</span>
                <img src="../../assets/images/offers/facePeeling.jpeg">
                <div class="offer-info">
                    <h2 class="offer-name">Face Peeling</h2>
                    <span class="original-price"> 500 EGP</span>
                    <span class="offer-price"> 250 EGP </span>
                    <p class="no-offers"> 80 Offers</p>
                </div>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <span class="percent">55% OFF</span>
                <img src="../../assets/images/offers/vitaminD.jpeg">
                <div class="offer-info">
                    <h2 class="offer-name">Vitamin D</h2>
                    <span class="original-price">400 EGP</span>
                    <span class="offer-price">180 EGP</span>
                    <p class="no-offers">194 Offers</p>
                </div>
            </div>
        </swiper-slide>


        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <span class="percent">50% OFF</span>
                <img src="../../assets/images/offers/laserHairRemoval.jpeg">
                <div class="offer-info">
                    <h2 class="offer-name">Laser Hair Removal</h2>
                    <span class="original-price"> 500 EGP</span>
                    <span class="offer-price"> 250 EGP</span>
                    <p class="no-offers"> 122</p>
                </div>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <span class="percent">45% OFF</span>
                <img src="../../assets/images/offers/weightLoss.jpeg">

                <div class="offer-info">
                    <h2 class="offer-name">Weight Loss</h2>
                    <span class="original-price">600 EGP</span>
                    <span class="offer-price"> 350 EGP</span>
                    <p class="no-offers"> 67 Offers</p>
                </div>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="card-style">
                <!-- <h3>first</h3> -->
                <span class="percent">24% OFF</span>
                <img src="../../assets/images/offers/visionCorrection.jpeg">
                <div class="offer-info">
                    <h2 class="offer-name">Vision Correction</h2>
                    <span class="original-price">5000 EGP</span>
                    <span class="offer-price">3800 EGP</span>
                    <p class="no-offers">26 Offers</p>
                </div>
            </div>
        </swiper-slide>


    </swiper-container>
</div>