<div class="footer-container">
    <div class="footer-text-part">
        <div class="footer-parts">

            <div class="footer-part-one-three">
                <img class="logo" src="assets/images/whitelogowithdotcom.jpg" alt="vezeeta-logo">
                <ol class="first-list">
                    <li><a class="list-elements" href="https://www.vezeeta.com/en/Generic/AboutUs">About Us</a></li>
                    <li><a class="list-elements" href="https://www.vezeeta.com/en/Generic/OurTeam">Our Team</a></li>
                    <li><a class="list-elements" href="https://careers.vezeeta.com/">Careers</a></li>
                    <!-- it had an error -->
                    <li><a class="list-elements" href="https://www.vezeeta.com/en/Generic/News">Press</a></li>
                    <div class="container-end"><br></div>
                </ol>
            </div>

            <div class="footer-part-two-four">
                <ol class="part-title">
                    <p class="part-header">Search by</p>
                    <a href="https://www.vezeeta.com/en/specialties" class="list-elements">Speciality</a>
                    <a href="https://www.vezeeta.com/en/areas" class="list-elements">Area</a>
                    <a href="https://www.vezeeta.com/en/insurances" class="list-elements">Insurance</a>
                    <a href="https://www.vezeeta.com/en/hospitals" class="list-elements">Hospital</a>
                    <a href="https://www.vezeeta.com/en/clinics" class="list-elements">Center</a>
                </ol>
            </div>
            
            <div class="footer-part-one-three">
                <ol class="part-title">
                    <p class="part-header">Are you a doctor ?</p>
                    <a class="list-elements" href="https://doctors.vezeeta.com/">Join Vezeeta doctors</a>
                </ol>
            </div>

            <div class="footer-part-two-four">
                <ol class="part-title">
                    <p class="part-header">Need help?</p>
                    <a class="list-elements" href="https://www.vezeeta.com/en/medical-topics">Medical Library</a>
                    <a class="list-elements" href="https://www.vezeeta.com/en/Generic/ContactUs">Contact Us</a>
                    <a class="list-elements" href="https://www.vezeeta.com/en/termsofuse">Terms Of Use </a>
                    <a class="list-elements" href="https://www.vezeeta.com/en/Generic/PrivacyPolicy">Privacy Policy</a>
                    <a class="list-elements" href="https://www.vezeeta.com/en/Generic/DoctorsPrivacyPolicy">Doctors
                        Privacy Policy</a>
                </ol>
            </div>

            <div class="footer-part-five">
                <div class="first-download-part">
                    <ol>
                        <a href="https://play.google.com/store/apps/details?id=com.ionicframework.vezeetapatientsmobile694843&amp;hl">
                            <img alt="Download Vezeeta App from play store" src="assets/images/google-play-badge.jpg">
                        </a>
                    </ol>
                    <ol>
                        <a href="https://itunes.apple.com/eg/app/vezeeta/id1010281314?">
                            <img alt="Download Vezeeta App from app store" src="assets/images/app-store-badge.jpg">
                        </a>
                    </ol>
                </div>
                <span class="second-download-part">
                    <div class="second-download-part-links">
                        <a href="https://www.facebook.com/vezeeta" class="facebook-link"></a> <!-- not working -->
                        <a href="https://www.instagram.com/vezeeta" class="instagram-link"></a> <!-- not working -->
                        <a href="https://twitter.com/VEZEETA_Egypt" class="twitter-link"></a> <!-- not working -->
                    </div>
                </span>
            </div>

        </div>
    </div>
</div>