.knppsE {
    background: rgb(226, 230, 234);
    width: 100%;
}

.cDUQMD {
    background: white;
    position: relative;
}

.fEZeLY {
    background: rgb(226, 230, 234);
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.knppsE {
    background: rgb(226, 230, 234);
    width: 100%;
}

div {
    display: block;
    unicode-bidi: isolate;
}



.cDUQMD {
    background: white;
    position: relative;
}

div {
    display: block;
    unicode-bidi: isolate;
}

@media only screen and (min-width: 1024px) {
    .kCVQcp {
        padding: 56px 0px 20px;
    }
}

.kCVQcp {
    background: rgb(238, 240, 242);
    padding: 30px 0px 10px;
}

@media only screen and (min-width: 1024px) {
    .coDuYM {
        padding: 0px 6px;
        max-width: 1080px;
    }
}

.coDuYM {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    direction: ltr;
    width: calc(100% - 30px) !important;
}

@media only screen and (min-width: 1024px) {
    .hsqIFA {
        font-size: 32px;
    }
}

.hsqIFA {
    color: rgb(102, 102, 102);
    margin-top: 0px;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
   /*  padding-bottom: 10px; */
}

.FTpSk {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: -webkit-fill-available;
}

@media only screen and (min-width: 768px) {
    .fNIDaO {
        -webkit-box-align: center;
        align-items: center;
        padding: 16px;
        width: 100%;
    }
}

.fNIDaO {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-inline-start: 16px;
    font-size: 16px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 16px 0px;
    background: linear-gradient(204.18deg, rgb(0, 112, 205) 15.49%, rgb(37, 148, 246) 84.41%);
    color: white;
}

section {
    display: block;
    unicode-bidi: isolate;
}

@media only screen and (min-width: 768px) {
    .fAnZVW {
        width: fit-content;
        height: fit-content;
    }
}

.fAnZVW {
    width: 45px;
    height: 45px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.iWyeZK {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.bkkzow {
    width: 103px;
    height: 20px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media only screen and (min-width: 768px) {
    .qxprC {
        text-align: start;
    }
}

.qxprC {
    margin: 0px;
    padding: 8px 0px;
    list-style: none;
    line-height: 1.7;
    font-size: 16px;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

@media only screen and (min-width: 768px) {
    .lkXRCM {
        width: 315px;
        height: 52px;
        font-weight: 400;
        margin: 0px 29px;
    }
}

.lkXRCM {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 112, 205);
    text-decoration: none;
}

.jbwfsL {
    width: 100%;
    margin-bottom: 16px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

@media only screen and (min-width: 768px) {
    .gJSBO {
        -webkit-box-align: center;
        align-items: center;
        padding: 16px;
    }
}

.gJSBO {
    display: flex;
    background-color: white;
    padding-inline-start: 16px;
    font-size: 16px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .dBWSyA {
        display: flex;
        flex-direction: column;
        order: 2;
    }
}


.dBWSyA {
    margin-inline-end: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.enQjyo {
    width: 93px;
}

.eYNJgX {
    margin: 4px 0px 8px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

.bEicLX {
    -webkit-box-flex: 0.5;
    flex-grow: 0.5;
    order: 3;
}

@media only screen and (min-width: 768px) {
    .htnXUw {
        width: auto;
        height: auto;
        padding: 16px;
        margin-inline-end: 34px;
        font-size: 16px;
        font-weight: 400;
    }
}

.htnXUw {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 160px;
    height: 40px;
    background: rgb(230, 241, 255);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 112, 205);
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .fjlfMb {
        order: 1;
    }
}

.fjlfMb {
    -webkit-box-flex: 0.1;
    flex-grow: 0.1;
    text-align: start;
}

@media only screen and (min-width: 768px) {
    .fsukIu {
        width: 96px;
        height: 96px;
        border-radius: 50%;
    }
}

.fsukIu {
    width: 120px;
}

.jbwfsL {
    width: 100%;
    margin-bottom: 16px;
}

@media only screen and (min-width: 1024px) {
    .ctQENZ {
        /* background-image: url("undefined"); */

        height: 122px;
        padding: 35px 40px;
        margin-bottom: 30px;
    }
}

.ctQENZ {
    text-decoration: none;
    background-size: cover;
    background-position: 100% 0%;
    display: block;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.eeqwjB {
    display: flex;
}

@media only screen and (min-width: 768px) {
    .fRwaMN {
        display: none;
    }
}

.fRwaMN {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.lpoBOM {
    /* background-image: url(https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/qna-home-icon.svg); */
    height: 54px;
    width: 54px;
}


.eVPtXV .NewSolutionsstyle__BannerTitle-sc-k98jre-13 {
    color: rgb(102, 102, 102) !important;
}

@media only screen and (min-width: 1024px) {
    .DMdug {
        font-size: 22px;
        margin-bottom: 8px;
        color: white;
    }
}

.DMdug {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
    line-height: 26px;
    color: rgb(102, 102, 102);
}

.eVPtXV .NewSolutionsstyle__BannerDescription-sc-k98jre-14 {
    color: rgb(102, 102, 102) !important;
}

@media only screen and (min-width: 1024px) {
    .bRrnhX {
        font-size: 16px;
        margin-bottom: 14px;
        color: white;
    }
}


.bRrnhX {
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

@media only screen and (min-width: 1024px) {
    .boqtmt {
        padding: 10px 24px;
        font-size: 16px;
        width: 10%;
        height: 30px;
        text-align: center;
        background: white;
    }
}


.boqtmt {
    border-radius: 8px;
    color: rgb(0, 112, 205);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(229, 241, 255) !important;
}

@media only screen and (min-width: 1024px) {
    .ctQENZ {
        background-image: url(undefined);
        height: 122px;
        padding: 35px 40px;
        margin-bottom: 30px;
    }
}

.ctQENZ {
    text-decoration: none;
    background-size: cover;
    background-position: 100% 0%;
    display: block;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


@media only screen and (min-width: 1024px) {
    .hOcerl {
        background-image: url(https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/epharmacy-solution-banner.jpg);
        /* height: 5000px; */
        padding: 35px 40px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .isHWIN {
        padding: 10px 24px;
        font-size: 16px;
        width: 10%;
        height: 30px;
        text-align: center;
        background: white;
    }
}


.isHWIN {
    border-radius: 8px;
    color: rgb(0, 112, 205);
    background-color: rgb(229, 241, 255);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media only screen and (min-width: 1024px) {
    .jeSivT {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1024px) {
    .jHDNOf {
        display: inline-block;
        margin-bottom: 30px;
        width: calc(50% - 15px);
        max-width: unset;
        height: 176px;
    }
}

.jHDNOf {
    margin-bottom: 16px;
    border-radius: 8px;
    background: white;
    overflow: hidden;
    height: 340px;
    width: calc(50% - 5px);
    max-width: 168px;
}

@media only screen and (min-width: 768px) {
    .faNMBs {
        display: inline-block;
    }
}


@media only screen and (min-width: 1024px) {
    .faNMBs {
        width: 176px;
        height: 176px;
    }
}

.faNMBs {
    width: 162.14px;
    height: 162.14px;
}

@media only screen and (min-width: 1024px) {
    .bYtcGu {
        width: 176px;
        height: 176px;
        max-height: unset;
    }
}

.bYtcGu {
    width: 100%;
    max-height: 168px;
}

@media only screen and (min-width: 1024px) {
    .cgkGMq {
        padding: 30px 24px 41px;
        width: calc(100% - 224px);
    }
}

.cgkGMq {
    display: inline-block;
    padding: 16px;
    vertical-align: top;
}

@media only screen and (min-width: 1024px) {
    .jZnPVg {
        margin-bottom: 8px;
    }
}

.jZnPVg {
    margin-bottom: 4px;
}

@media only screen and (min-width: 1024px) {
    .Fkkuo {
        font-size: 22px;
        line-height: 30px;
    }
}


.Fkkuo {
    font-weight: 700;
    display: block;
    color: rgb(102, 102, 102);
    font-size: 18px;
}


@media only screen and (min-width: 1024px) {
    .OTrLd {
        height: 48px;
        margin-bottom: 13px;
        -webkit-line-clamp: 2;
    }
}

.OTrLd {
    margin-bottom: 12px;
    height: 72px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media only screen and (min-width: 1024px) {
    .cKxOYi {
        font-size: 16px;
    }
}

.cKxOYi {
    display: block;
    font-size: 14px;
    color: rgb(111, 112, 114);
    line-height: 24px;
}

@media only screen and (min-width: 1024px) {
    .eWYqdP {
        margin-bottom: 8px;
        font-size: 16px;
    }
}

.eWYqdP {
    color: rgb(0, 112, 205);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    vertical-align: bottom;
    margin-bottom: 4px;
}

@media only screen and (min-width: 1024px) {
    .eWYqdP::after {
        font-size: 16px;
    }
}

.eWYqdP::after {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "ïƒš";
    font-size: 16px;
    display: inline-block;
    vertical-align: sub;
    margin: 5px;
    color: rgb(239, 15, 15);
    font-family: icomoon !important;
}


@media only screen and (min-width: 1024px) {
    .cgkGMq {
        padding: 30px 24px 41px;
        width: calc(100% - 224px);
    }
}

.cgkGMq {
    display: inline-block;
    padding: 16px;
    vertical-align: top;
}


@media only screen and (min-width: 1024px) {
    .jHDNOf {
        display: inline-block;
        margin-bottom: 30px;
        width: calc(50% - 15px);
        max-width: unset;
        height: 176px;
    }
}


.jHDNOf {
    margin-bottom: 16px;
    border-radius: 8px;
    background: white;
    overflow: hidden;
    height: 340px;
    width: calc(50% - 5px);
    max-width: 168px;
}

@media only screen and (min-width: 1024px) {
    .jeSivT {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}


.jeSivT {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


@media only screen and (min-width: 1024px) {
    .kCVQcp {
        padding: 56px 0px 20px;
    }
}


