.coDuYM {
    width: 95%;
    max-width: 1170px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 30px) !important;
    direction: ltr;
}

@media only screen and (max-width: 767px) {
    .coDuYM {
        width :95%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .coDuYM {
        padding:0 6px;
        max-width: 1080px;
    }
}

@media only screen and (min-width: 1024px) {
    .coDuYM {
        padding:0 6px;
        max-width: 1080px;
    }
}

/*!sc*/
.iitGwi:hover span:after {
    opacity: 0;
}

/*!sc*/
.iitGwi:hover img {
    opacity: 1;
    -webkit-transition: opacity 0.7s ease-in;
    transition: opacity 0.7s ease-in;
}

/*!sc*/
.bulAuM a {
    color: #0070cd!important;
}

/*!sc*/
html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

/*!sc*/
body {
    background-color: #e2e6ea;
    font-size: 12px;
    font-family: SourceSansPro !important;
    margin: 0px;
    height: -webkit-fill-available;
}

/*!sc*/
@media only screen and (max-width: 767px) {
}

/*!sc*/
body input,body button {
    font-family: SourceSansPro !important;
}

/*!sc*/
input,label {
    margin: 2px;
    display: block;
}

/*!sc*/
data-styled.g751[id="sc-keyframes-eoUyJr"] {
    content: "eoUyJr,"
}

/*!sc*/
.jbwfsL {
    width: 100%;
    margin-bottom: 16px;
}

/*!sc*/
data-styled.g1040[id="SectionDividerstyle__Divider-sc-1n5aqmy-0"] {
    content: "jbwfsL,"
}

/*!sc*/
.fNIDaO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-inline-start:16px;font-size: 16px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 16px 0px 16px;
    background: linear-gradient(204.18deg,#0070cd 15.49%,#2594f6 84.41%);
    color: white;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .fNIDaO {
        -webkit-align-items:center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 16px;
        width: 100%;
    }
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .fNIDaO {
        -webkit-flex-direction:column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: stretch;
        -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch;
        width: 100%;
        padding: 15px;
        gap: 15px;
    }
}

/*!sc*/
data-styled.g1077[id="ShamelBannerstyle__BannerContainer-sc-7i6x2b-0"] {
    content: "fNIDaO,"
}

/*!sc*/
.iWyeZK {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px 20px;
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .iWyeZK {
        padding:0px;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: stretch;
        -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch;
    }
}

/*!sc*/
data-styled.g1078[id="ShamelBannerstyle__BannerContent-sc-7i6x2b-1"] {
    content: "iWyeZK,"
}

/*!sc*/
.qxprC {
    margin: 0;
    font-size: 13px;
    padding: 8px 0px;
    list-style: none;
    line-height: 1.7;
    font-size: 16px;
    text-align: center;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .qxprC {
        text-align:start;
    }
}

/*!sc*/
data-styled.g1080[id="ShamelBannerstyle__BannerDescription-sc-7i6x2b-3"] {
    content: "qxprC,"
}

/*!sc*/
.bkkzow {
    width: 103px;
    height: 20px;
}

/*!sc*/
data-styled.g1081[id="ShamelBannerstyle__BannerTitleImg-sc-7i6x2b-4"] {
    content: "bkkzow,"
}

/*!sc*/
.fAnZVW {
    width: 45px;
    height: 45px;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .fAnZVW {
        width:-webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
}

/*!sc*/
data-styled.g1082[id="ShamelBannerstyle__BannerImg-sc-7i6x2b-5"] {
    content: "fAnZVW,"
}

/*!sc*/
.lkXRCM {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #0070cd;
    -webkit-text-decoration: none;
    text-decoration: none;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .lkXRCM {
        width:315px;
        height: 52px;
        font-weight: 400;
        margin: 0 29px;
    }
}

/*!sc*/
data-styled.g1083[id="ShamelBannerstyle__BannerLink-sc-7i6x2b-6"] {
    content: "lkXRCM,"
}

/*!sc*/
.gJSBO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-inline-start: 16px;
    font-size: 16px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 16px 0px 16px;
    color: white;
    
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .gJSBO {
        -webkit-align-items:center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 16px;
    }
}

/*!sc*/
data-styled.g1086[id="BannerWithFullColumnImgstyle__BannerContainer-sc-166s1zp-0"] {
    content: "gJSBO,"
}

/*!sc*/
.enQjyo {
    width: 93px;
}

/*!sc*/
data-styled.g1087[id="BannerWithFullColumnImgstyle__BannerLogo-sc-166s1zp-1"] {
    content: "enQjyo,"
}

/*!sc*/
.eYNJgX {
    margin: 4px 0 8px;
    font-weight: 400;
    color: #666666;
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .eYNJgX {
        font-size:14px;
    }
}

/*!sc*/
data-styled.g1089[id="BannerWithFullColumnImgstyle__BannerDescription-sc-166s1zp-3"] {
    content: "eYNJgX,"
}

/*!sc*/
.fsukIu {
    width: 120px;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .fsukIu {
        width: 96px;
        height: 96px;
        border-radius: 50%;
    }
}

/*!sc*/
data-styled.g1090[id="BannerWithFullColumnImgstyle__BannerImg-sc-166s1zp-4"] {
    content: "fsukIu,"
}

/*!sc*/
.fjlfMb {
    -webkit-box-flex: 0.1;
    -webkit-flex-grow: 0.1;
    -ms-flex-positive: 0.1;
    flex-grow: 0.1;
    text-align: start;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .fjlfMb {
        -webkit-order:1;
        -ms-flex-order: 1;
        order: 1;
    }
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .fjlfMb {
        display:-webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
    }
}

/*!sc*/
data-styled.g1091[id="BannerWithFullColumnImgstyle__BannerImgContainer-sc-166s1zp-5"] {
    content: "fjlfMb,"
}

/*!sc*/
.bEicLX {
    -webkit-box-flex: 0.5;
    -webkit-flex-grow: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

/*!sc*/
data-styled.g1092[id="BannerWithFullColumnImgstyle__CTAWrapperDesktop-sc-166s1zp-6"] {
    content: "bEicLX,"
}

/*!sc*/
.dBWSyA {
    margin-inline-end: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .dBWSyA {
        display: flex;
        flex-direction: column;
        order: 2;
    }
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .dBWSyA {
        padding:16px 0;
    }
}

/*!sc*/
data-styled.g1093[id="BannerWithFullColumnImgstyle__BannerInfoContainer-sc-166s1zp-7"] {
    content: "dBWSyA,"
}

/*!sc*/
.hsqIFA {
    color: #666666;
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .hsqIFA {
        font-size:26px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .hsqIFA {
        font-size:32px;
    }
}

/*!sc*/
data-styled.g1094[id="HomePageSubComponentssharedStyle__Header-sc-1leo4iz-0"] {
    content: "hsqIFA,"
}

/*!sc*/
.Fkkuo {
    font-weight: 700;
    display: block;
    color: #666666;
    font-size: 18px;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .Fkkuo {
        font-size:20px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .Fkkuo {
        font-size:22px;
        line-height: 30px;
    }
}

/*!sc*/
data-styled.g1095[id="HomePageSubComponentssharedStyle__titleText-sc-1leo4iz-1"] {
    content: "Fkkuo,"
}

/*!sc*/
.cKxOYi {
    display: block;
    font-size: 14px;
    color: #6f7072;
    line-height: 24px;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .cKxOYi {
        font-size:15px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .cKxOYi {
        font-size:16px;
    }
}

/*!sc*/
data-styled.g1096[id="HomePageSubComponentssharedStyle__descriptionText-sc-1leo4iz-2"] {
    content: "cKxOYi,"
}

/*!sc*/
.kCVQcp {
    background: #eef0f2;
    padding: 30px 0 10px 0;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .kCVQcp {
        padding:30px 0;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .kCVQcp {
        padding:56px 0 20px 0;
    }
}

/*!sc*/
data-styled.g1102[id="NewSolutionsstyle__NewSolutionsContainer-sc-k98jre-0"] {
    content: "kCVQcp,"
}

/*!sc*/
.jHDNOf {
    margin-bottom: 16px;
    border-radius: 8px;
    background: white;
    overflow: hidden;
    height: 340px;
    width: calc(50% - 5px);
    max-width: 168px;
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .jHDNOf {
        -webkit-flex-basis:47%;
        -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
        width: unset;
        max-width: unset;
    }
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .jHDNOf {
        display:inline-block;
        margin-bottom: 30px;
        width: calc(50% - 15px);
        max-width: unset;
        height: 135px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .jHDNOf {
        display:inline-block;
        margin-bottom: 30px;
        width: calc(50% - 15px);
        max-width: unset;
        height: 176px;
    }
}

/*!sc*/
data-styled.g1103[id="NewSolutionsstyle__NewServiceCard-sc-k98jre-1"] {
    content: "jHDNOf,"
}

/*!sc*/
.faNMBs {
    width: 162.14px;
    height: 162.14px;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .faNMBs {
        width:135px;
        height: 135px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .faNMBs {
        width:176px;
        height: 176px;
    }
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .faNMBs {
        display:inline-block;
    }
}

/*!sc*/
data-styled.g1104[id="NewSolutionsstyle__FixedImageHeightAndWidth-sc-k98jre-2"] {
    content: "faNMBs,"
}

/*!sc*/
.jeSivT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .jeSivT {
        -webkit-box-pack:justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .jeSivT {
        -webkit-box-pack:justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

/*!sc*/
data-styled.g1105[id="NewSolutionsstyle__FlexWrapper-sc-k98jre-3"] {
    content: "jeSivT,"
}

/*!sc*/
.cgkGMq {
    display: inline-block;
    padding: 16px;
    vertical-align: top;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .cgkGMq {
        padding:20 20 20 12px;
        padding-top: 14px;
        width: calc(100% - 167px);
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .cgkGMq {
        padding:30px 24px 41px 24px;
        width: calc(100% - 224px);
    }
}

/*!sc*/
data-styled.g1106[id="NewSolutionsstyle__CardTextContent-sc-k98jre-4"] {
    content: "cgkGMq,"
}

/*!sc*/
.bYtcGu {
    width: 100%;
    max-height: 168px;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .bYtcGu {
        width:135px;
        height: 135px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .bYtcGu {
        width:176px;
        height: 176px;
        max-height: unset;
    }
}

/*!sc*/
data-styled.g1107[id="NewSolutionsstyle__CardImage-sc-k98jre-5"] {
    content: "bYtcGu,"
}

/*!sc*/
.jZnPVg {
    margin-bottom: 4px;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .jZnPVg {
        margin-bottom:4px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .jZnPVg {
        margin-bottom:8px;
    }
}

/*!sc*/
data-styled.g1108[id="NewSolutionsstyle__CardTitle-sc-k98jre-6"] {
    content: "jZnPVg,"
}

/*!sc*/
.OTrLd {
    margin-bottom: 12px;
    height: 72px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .OTrLd {
        margin-bottom:6px;
        height: 48px;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .OTrLd {
        height:48px;
        margin-bottom: 13px;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
}

/*!sc*/
data-styled.g1109[id="NewSolutionsstyle__CardDescription-sc-k98jre-7"] {
    content: "OTrLd,"
}

/*!sc*/
.eWYqdP {
    color: #0070cd;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: bottom;
    margin-bottom: 4px;
}

/*!sc*/
.eWYqdP:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

/*!sc*/
.eWYqdP:after {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f0da';
    font-size: 16px;
    color: #666666;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    vertical-align: sub;
    margin: 5px;
    color: #EF0F0F;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .eWYqdP:after {
        font-size:15px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .eWYqdP:after {
        font-size:16px;
    }
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .eWYqdP {
        margin-bottom:8px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .eWYqdP {
        margin-bottom:8px;
        font-size: 16px;
    }
}

/*!sc*/
data-styled.g1110[id="NewSolutionsstyle__CardCallToAction-sc-k98jre-8"] {
    content: "eWYqdP,"
}

/*!sc*/
.ctQENZ {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    display: block;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}


@media only screen and (min-width: 768px) and (max-width:1023px) {
    .ctQENZ {
        background-color:white;
        /* height: 10000px; */
        padding: 35px 40px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .ctQENZ {
        background-color:white;
        /* height: 122px; */
        padding: 35px 40px;
        margin-bottom: 30px;
    }
}

/*!sc*/
.hOcerl {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    display: block;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .hOcerl {
        background-image:url(https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/epharmacy-solution-banner.jpg);
        /* height: 122px; */
        padding: 35px 40px;
        margin-bottom: 30px;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .hOcerl {
        background-image:url(https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/epharmacy-solution-banner.jpg);
        /* height: 122px; */
        padding: 35px 40px;
        margin-bottom: 30px;
    }
}

/*!sc*/
data-styled.g1111[id="NewSolutionsstyle__NewServiceBanner-sc-k98jre-9"] {
    content: "ctQENZ,hOcerl,"
}

/*!sc*/
.eeqwjB {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
data-styled.g1112[id="NewSolutionsstyle__BannerUpperSection-sc-k98jre-10"] {
    content: "eeqwjB,"
}

/*!sc*/
.fRwaMN {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .fRwaMN {
        display:none;
    }
}

/*!sc*/
data-styled.g1113[id="NewSolutionsstyle__BannerIconContainer-sc-k98jre-11"] {
    content: "fRwaMN,"
}

/*!sc*/
.lpoBOM {
    background-image: url(https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/qna-home-icon.svg);
    height: 54px;
    width: 54px;
}

/*!sc*/
data-styled.g1114[id="NewSolutionsstyle__BannerIcon-sc-k98jre-12"] {
    content: "lpoBOM,"
}

/*!sc*/
.DMdug {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
    line-height: 26px;
    color: #666666;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .DMdug {
        font-size:22px;
        margin-bottom: 8px;
        color: white;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .DMdug {
        font-size:22px;
        margin-bottom: 8px;
        color: white;
    }
}

/*!sc*/
data-styled.g1115[id="NewSolutionsstyle__BannerTitle-sc-k98jre-13"] {
    content: "DMdug,"
}

/*!sc*/
.bRrnhX {
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .bRrnhX {
        font-size:16px;
        margin-bottom: 14px;
        color: white;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .bRrnhX {
        font-size:16px;
        margin-bottom: 14px;
        color: white;
    }
}

/*!sc*/
data-styled.g1116[id="NewSolutionsstyle__BannerDescription-sc-k98jre-14"] {
    content: "bRrnhX,"
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .eVPtXV {
        margin-left:20px;
    }
}

/*!sc*/
.eVPtXV .NewSolutionsstyle__BannerTitle-sc-k98jre-13 {
    color: #666666 !important;
}

/*!sc*/
.eVPtXV .NewSolutionsstyle__BannerDescription-sc-k98jre-14 {
    color: #666666 !important;
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .cDBDms {
        margin-left:20px;
    }
}

/*!sc*/
data-styled.g1117[id="NewSolutionsstyle__BannerInfo-sc-k98jre-15"] {
    content: "eVPtXV,cDBDms,"
}

/*!sc*/
.boqtmt {
    border-radius: 8px;
    color: #0070cd;
    background-color: #E5F1FF;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E5F1FF !important;
}

/*!sc*/
.boqtmt:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .boqtmt {
        /* padding:10px 24px; */
        font-size: 16px;
        width: 20%;
        background: white;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .boqtmt {
        /* padding:10px 24px; */
        font-size: 16px;
        width: 15%;
        height: 50px;
        text-align: center;
        background: white;
    }
}

/*!sc*/
.isHWIN {
    border-radius: 8px;
    color: #0070cd;
    background-color: #E5F1FF;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.isHWIN:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

/*!sc*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .isHWIN {
        /* padding:10px 24px; */
        font-size: 16px;
        width: 20%;
        background: white;
    }
}

/*!sc*/
@media only screen and (min-width: 1024px) {
    .isHWIN {
        /* padding:10px 24px; */
        font-size: 16px;
        width: 15%;
        height: 50px;
        text-align: center;
        background: white;
    }
}

/*!sc*/
data-styled.g1118[id="NewSolutionsstyle__BannerCallToAction-sc-k98jre-16"] {
    content: "boqtmt,isHWIN,"
}

/*!sc*/
.htnXUw {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 160px;
    height: 40px;
    background: rgb(230, 241, 255);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 112, 205);
    text-decoration: none;
}

/*!sc*/
@media only screen and (min-width: 768px) {
    .htnXUw {
        width: auto;
        height: auto;
        padding: 16px;
        margin-inline-end: 34px;
        font-size: 16px;
        font-weight: 400;
    }
}

/*!sc*/
data-styled.g1119[id="NewSolutionsstyle__QnABannerLink-sc-k98jre-17"] {
    content: "htnXUw,"
}

/*!sc*/
.FTpSk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: -webkit-fill-available;
}

/*!sc*/
@media only screen and (max-width: 767px) {
    .FTpSk {
        -webkit-flex-direction:column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/*!sc*/
data-styled.g1120[id="NewSolutionsstyle__MainBannerWrapper-sc-k98jre-18"] {
    content: "FTpSk,"
}

