<div class="NewSolutionsstyle__NewSolutionsContainer-sc-k98jre-0 kCVQcp">
    <div class="LimitWidthstyle__LimitWidthStyle-sc-heoo9k-0 coDuYM">
        <h2 class="HomePageSubComponentssharedStyle__Header-sc-1leo4iz-0 hsqIFA">New services for better
            healthcare</h2>
    </div>
    <div class="LimitWidthstyle__LimitWidthStyle-sc-heoo9k-0 coDuYM">
        <div class="NewSolutionsstyle__MainBannerWrapper-sc-k98jre-18 FTpSk">
            <section class="ShamelBannerstyle__BannerContainer-sc-7i6x2b-0 fNIDaO"><img alt="shamel points logo"
                    src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/shamel-logo.webp"
                    class="ShamelBannerstyle__BannerImg-sc-7i6x2b-5 fAnZVW">
                <div class="ShamelBannerstyle__BannerContent-sc-7i6x2b-1 iWyeZK"><img alt="shamel logo"
                        src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/shamel-text-logo.webp"
                        class="ShamelBannerstyle__BannerTitleImg-sc-7i6x2b-4 bkkzow">
                    <ul class="ShamelBannerstyle__BannerDescription-sc-7i6x2b-3 qxprC">
                        <li>Save up to 70% on all medical services</li>
                        <li>The network is available only through the App - In Cairo and Giza till now
                        </li>
                    </ul>
                </div><a href="/en/shamel" class="ShamelBannerstyle__BannerLink-sc-7i6x2b-6 lkXRCM">See
                    Details</a>
            </section>
        </div>
        <div class="SectionDividerstyle__Divider-sc-1n5aqmy-0 jbwfsL"></div>
        <section class="BannerWithFullColumnImgstyle__BannerContainer-sc-166s1zp-0 gJSBO">
            <div class="BannerWithFullColumnImgstyle__BannerInfoContainer-sc-166s1zp-7 dBWSyA"><img
                    src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58776/_next/static/images/mental-health-logo.svg"
                    alt="North" class="BannerWithFullColumnImgstyle__BannerLogo-sc-166s1zp-1 enQjyo">
                <div class="BannerWithFullColumnImgstyle__BannerDescription-sc-166s1zp-3 eYNJgX">North, your way to
                    practice peace.</div>
            </div>
            <div class="BannerWithFullColumnImgstyle__CTAWrapperDesktop-sc-166s1zp-6 bEicLX"> <a
                    href="https://north.vezeeta.com/en?redirect=true"
                    class="NewSolutionsstyle__QnABannerLink-sc-k98jre-17 htnXUw">Explore North</a> </div>
            <div class="BannerWithFullColumnImgstyle__BannerImgContainer-sc-166s1zp-5 fjlfMb"><img
                    src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58776/_next/static/images/mental-health-image.png"
                    alt="North-banner" class="BannerWithFullColumnImgstyle__BannerImg-sc-166s1zp-4 fsukIu"></div>
        </section>
        <div class="SectionDividerstyle__Divider-sc-1n5aqmy-0 jbwfsL"></div><a href="/en/questions/ask"
            class="NewSolutionsstyle__NewServiceBanner-sc-k98jre-9 ctQENZ">
            <div class="NewSolutionsstyle__BannerUpperSection-sc-k98jre-10 eeqwjB">
                <div class="NewSolutionsstyle__BannerIconContainer-sc-k98jre-11 fRwaMN">
                    <div class="NewSolutionsstyle__BannerIcon-sc-k98jre-12 lpoBOM"></div>
                </div>
                <div class="NewSolutionsstyle__BannerInfo-sc-k98jre-15 eVPtXV"><span
                        class="NewSolutionsstyle__BannerTitle-sc-k98jre-13 DMdug">Have a Medical
                        Question?</span><span class="NewSolutionsstyle__BannerDescription-sc-k98jre-14 bRrnhX">Submit
                        your
                        medical question
                        and receive an answer from a specialized doctor</span></div>
            </div>
            <div class="NewSolutionsstyle__BannerCallToAction-sc-k98jre-16 boqtmt">Ask now</div>
        </a><a href="https://app.vezeeta.com/y8gf" class="NewSolutionsstyle__NewServiceBanner-sc-k98jre-9 hOcerl">
            <div class="NewSolutionsstyle__BannerUpperSection-sc-k98jre-10 eeqwjB">
                <div class="NewSolutionsstyle__BannerIconContainer-sc-k98jre-11 fRwaMN">
                    <div class="NewSolutionsstyle__BannerIcon-sc-k98jre-12 giydAB"></div>
                </div>
                <div class="NewSolutionsstyle__BannerInfo-sc-k98jre-15 cDBDms"><span
                        class="NewSolutionsstyle__BannerTitle-sc-k98jre-13 DMdug">Pharmacy</span><span
                        class="NewSolutionsstyle__BannerDescription-sc-k98jre-14 bRrnhX">Get your
                        medicine and all your
                        pharmacy needs.</span></div>
            </div>
            <div class="NewSolutionsstyle__BannerCallToAction-sc-k98jre-16 isHWIN">Place order</div>
        </a>
        <div class="NewSolutionsstyle__FlexWrapper-sc-k98jre-3 jeSivT"><a href="/en/tele-health/all-specialities/egypt"
                class="NewSolutionsstyle__NewServiceCard-sc-k98jre-1 jHDNOf">
                <div class="NewSolutionsstyle__FixedImageHeightAndWidth-sc-k98jre-2 faNMBs">
                    <picture>
                        <source media="(max-width:768px)"
                            data-srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/mobile.webp"
                            type="image/webp"
                            srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/mobile.webp">
                        <source media="(min-width:768px)"
                            data-srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/desktop.webp"
                            type="image/webp"
                            srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/desktop.webp">
                        <source media="(max-width:768px)"
                            data-srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/mobile.jpg"
                            type="image/jpg"
                            srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/mobile.jpg">
                        <source media="(min-width:768px)"
                            data-srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/desktop.jpg"
                            type="image/jpg"
                            srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/desktop.jpg">
                        <img class="NewSolutionsstyle__CardImage-sc-k98jre-5 bYtcGu ls-is-cached lazyloaded"
                            data-src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/desktop.webp"
                            alt="Teleconsultation"
                            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/telehealth-solution-card/desktop.webp">
                    </picture>
                </div><span class="NewSolutionsstyle__CardTextContent-sc-k98jre-4 cgkGMq"><span
                        class="HomePageSubComponentssharedStyle__titleText-sc-1leo4iz-1 NewSolutionsstyle__CardTitle-sc-k98jre-6 Fkkuo jZnPVg">Teleconsultation</span><span
                        title="Schedule a voice or video call with a specialized doctor."
                        class="HomePageSubComponentssharedStyle__descriptionText-sc-1leo4iz-2 NewSolutionsstyle__CardDescription-sc-k98jre-7 cKxOYi OTrLd">Schedule
                        a voice or video call with a specialized doctor.</span>
                    <div class="NewSolutionsstyle__CardCallToAction-sc-k98jre-8 eWYqdP">Book a Call
                    </div>
                </span>
            </a><a href="/en/home-visits" class="NewSolutionsstyle__NewServiceCard-sc-k98jre-1 jHDNOf">
                <div class="NewSolutionsstyle__FixedImageHeightAndWidth-sc-k98jre-2 faNMBs">
                    <picture>
                        <source media="(max-width:768px)"
                            data-srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/mobile.webp"
                            type="image/webp"
                            srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/mobile.webp">
                        <source media="(min-width:768px)"
                            data-srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/desktop.webp"
                            type="image/webp"
                            srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/desktop.webp">
                        <source media="(max-width:768px)"
                            data-srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/mobile.jpg"
                            type="image/jpg"
                            srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/mobile.jpg">
                        <source media="(min-width:768px)"
                            data-srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/desktop.jpg"
                            type="image/jpg"
                            srcset="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/desktop.jpg">
                        <img class="NewSolutionsstyle__CardImage-sc-k98jre-5 bYtcGu ls-is-cached lazyloaded"
                            data-src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/desktop.webp"
                            alt="Home Visit"
                            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/58648/_next/static/images/homevisits-solution-card/eg/desktop.webp">
                    </picture>
                </div><span class="NewSolutionsstyle__CardTextContent-sc-k98jre-4 cgkGMq"><span
                        class="HomePageSubComponentssharedStyle__titleText-sc-1leo4iz-1 NewSolutionsstyle__CardTitle-sc-k98jre-6 Fkkuo jZnPVg">Home
                        Visit</span><span title="Choose the specialty, and the doctor will visit you at home."
                        class="HomePageSubComponentssharedStyle__descriptionText-sc-1leo4iz-2 NewSolutionsstyle__CardDescription-sc-k98jre-7 cKxOYi OTrLd">Choose
                        the specialty, and the doctor will visit you at home.</span>
                    <div class="NewSolutionsstyle__CardCallToAction-sc-k98jre-8 eWYqdP">Book a visit
                    </div>
                </span>
            </a></div>
    </div>
</div>