/* header.component.css */
/* Customize the styling as needed */
.navbar {
    padding: 1px;
  }
  
  .navbar-brand img {
    max-height: 50px;
    padding-left: 0px;
  }
  
  .navbar-nav  {
    color: white;
    margin-right: 10px;
  }
  
  .container {
    margin-left: 5px;
    height:65px;
  }

  .nav-link{
    color: white;
    margin-right: 10px;
    font-size: 1.7ch;
  }