.container{
    /* margin-top: 20px; */
    background-color:rgb(255, 255, 255);;
    padding: 20px;
    /* margin-bottom: 20px; */

}
h1{
/*     color: rgb(102, 102, 102);
    margin-top: 3px;
    padding-top: 3px;
    font-size: 32px;
    line-height: 28px;
    font-weight: 50px;
    margin-left: 90px; */
    font-size: 32px;
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    direction: ltr;
    width: calc(100% - 30px) !important;
    color: rgb(102, 102, 102);
    margin-bottom: 20px;
    margin-left: 75px;
}