.webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
img {
    border-top-right-radius: 25px;
    border-top-right-radius: 25px;
    overflow: clip;
}
.container{
    margin-top: 20px;
    background-color:rgb(238, 240, 242);;
    padding: 20px;

}
h1{
    color: rgb(102, 102, 102);
}