/* login.component.css */


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  