<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div class="backgrounds">
    <img id="backgroundImage">
    <div class="PhotoCarouselstyle__Hightlight-sc-gek9bd-2 imEmYa"></div>
    <div class="home-text">
        <h1>Better Healthcare for a Better Life</h1>
        <h2 class="home-book">Book online or call
            <div class="home-phone">
                <i class="fas fa-phone-alt"></i>
                <a href="tel:16676">16676</a>
            </div>
        </h2>
    </div>
</div>
