<div class="container">
    <div class="card bg-primary text-white text-center">
      <div class="card-body">
        <h2>Contact Us</h2>
      </div>
    </div>
  
    <div class="contact-details">
      <div class="box">
        <h3>Name</h3>
      </div>
      <div class="box">
        <h3>From outside Egypt call:</h3>
        <p>+2 02 259 83 999</p>
      </div>
      <div class="box">
        <h3>Address</h3>
        <p>124 Othman Ibn Affan St. behind Military college - Heliopolis</p>
      </div>
      <div class="box">
        <h3>Mail Us</h3>
        <p>customercare&commat;gmail.com</p>
      </div>
      <div class="box">
        <h3>Call Us</h3>
        <p>16676 (Cost of regular call)</p>
      </div>
    </div>
  </div>
  