<div class="beforeAndAfter">
    <section id="download-the-app" class="DownloadBannerstyle__DownloadContainer-sc-19fh9n5-0 lbVAzC">
        <div class="image-container">
            <img class="image" alt="Vezeeta registration form on a smartphone."
                src="assets/images/downloadApp-eg-en.jpg">
        </div>
        
        <div class="text">
            <h1 class="header">Download Vezeeta Application</h1>
            <p class="paragraph">
                Search, compare and book doctor consultations with ease. Order
                your medicines &amp; get them deilvered within 60 minutes.
                Track your steps count &amp; earn points on hitting the daily goal</p>
            <div class="buttons-container">
                <a class="button" href="https://itunes.apple.com/eg/app/vezeeta/id1010281314?">
                    <img class="logo" alt="App Store logo" src="assets/images/apple-logo.svg">
                    <span class="app-download-text">App Store</span>
                </a>
                <a class="button"
                    href="https://play.google.com/store/apps/details?id=com.ionicframework.vezeetapatientsmobile694843&amp;hl">
                    <img class="logo" alt="Google Play logo" src="assets/images/google-play-logo.svg">
                    <span class="app-download-text">Google Play</span>
                </a>
                <a class="button" href="https://appgallery.huawei.com/app/C100269167">
                    <img class="logo" alt="App Gallery logo" src="assets/images/app-gallery-logo.svg">
                    <span class="app-downloaad-text">App Gallery</span>
                </a>
            </div>
        </div>
    </section>
</div>