<span class="beforeAndAfter">
    <div class="container">
        <span class="item">
            <img class="image" alt="All your healthcare needs" src="assets/images/medical-care-icon.svg">
            <span class="paragraph">
                <span class="header">All your healthcare needs</span>
                <span class="body">
                    Search and book a clinic visit, home visit, or a teleconsultation. Order your medicine and book a
                    service or operation.
                </span>
            </span>
        </span>
        <span class="item">
            <img class="image" alt="Verified patient reviews" src="assets/images/doctor-icon.svg">
            <span class="paragraph">
                <span class="header">Verified patient reviews</span>
                <span class="body">Doctor
                    ratings are from patients who booked and visited the doctor through Vezeeta.
                </span>
            </span>
        </span>
        <span class="item">
            <img class="image" alt="Your booking is confirmed" src="assets/images/booking-icon.svg">
            <span class="paragraph">
                <span class="header">Your booking is confirmed</span>
                <span class="body">
                    Your booking is automatically confirmed, as the doctor specifies his working hours and is notified
                    of the booking details. </span>
            </span>
        </span>
        <span class="item">
            <img class="image" alt="Book for free, and pay in the clinic" src="assets/images/security-icon.svg">
            <span class="paragraph">
                <span class="header">Book for free, and pay in the clinic</span>
                <span class="body">
                    The consultation fees stated on Vezeeta are the actual doctor's fees with no extra charges.
                </span>
            </span>
        </span>
    </div>
</span>